.description-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42;
  margin: 0;
  margin-top: 26px;
}

.Techs .description-text {
  width: 460px;
  text-align: center;
  letter-spacing: -0.04em;
}
