.portfolio__works {
  list-style: none;
  padding-inline-start: 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.66;
  letter-spacing: -0.04em;
}

.portfolio__works li {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px #e8e8e8 solid;
  padding-bottom: 19px;
}

.portfolio__works li:last-child {
  border: none;
}

.portfolio__works li::after {
  content: url("./../../../../images/arrow-to-corner.svg");
  padding-right: 5px;
}

.portfolio__works li:nth-child(1n):not(:first-child) {
  padding-top: 20px;
}
