.header__button-signin {
  width: 76px;
  height: 32px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  background-color: #2be080;
  border: none;
  border-radius: 3px;
}

.header__button-signin:hover {
  cursor: pointer;
}
