.menu-profile__menu {
  list-style: none;
  margin: 0;
  padding-inline-start: 0;
}

.menu-profile__menu a {
  text-decoration: none;
  color: black;
}

.menu-profile__menu li:not(:last-child) {
  margin-bottom: 28px;
}

@media screen and (max-width: 596px) {
  .menu-profile__menu li:not(:last-child) {
    margin-bottom: 25px;
  }
}
