.page-not-found__back {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
  color: #ff6838;
  margin: 0;
  cursor: pointer;
  text-decoration: none;
}

.page-not-found__back:hover {
  text-decoration: underline;
}
