.promo__button-info {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  background-color: #e8e8e8;
  min-width: 96px;
  height: 36px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 10px;
  border: none;
  transition: 0.3s;
  cursor: pointer;
}

.promo__button-info:hover {
  background-color: #2be080;
}
