.header__signin-signup-box {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding-inline-start: 0;
  margin-right: 70px;
}

@media screen and (max-width: 768px) {
  .header__signin-signup-box {
    margin-right: 30px;
  }
}

@media screen and (max-width: 320px) {
  .header__signin-signup-box {
    margin-right: 14px;
  }
}
