.header__link-signup {
  color: #fff;
  padding: 0;
  margin-right: 30px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  border: none;
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
}

.header__link-signup:hover {
  text-decoration: underline;
}
